table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

thead th:nth-child(-n+1) {
    background-color: black;
    color: white;
}

thead th {
    background-color: grey;
    color: black;
}

th, td {
	padding: 7px 15px;	
}

th {
	font-size: larger;
}

td {
	text-align: center;
    border: 1px solid grey;
}

tbody tr:nth-child(even) {
	background-color: lightgray;
}

caption{   
    caption-side: bottom;
    padding: 10px;
    font-size: .75rem;
}