body {
    font-family: 'Nunito', sans-serif;
    color: #5C5173;
    font-size: 1rem;
    text-align: center;
}

h1, h2, h3 {
    color:#2D5F73;
    font-family: 'Raleway';
}
h1 {   
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
h3 {
    font-weight:400;
}

ul{
    list-style-type: none;
}

.raleway {
    font-family: 'Raleway';
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: white;
  }
  .colors td{
    width: 20%;
    height: 3em;
  }
  .primary {
    background-color: #2D5F73;
    color: white;
  }
  .secondary {
    background-color: #5C5173;
    color: white;
  }
  .accent1 {
    background-color: #96CCD9;
  }
  .accent2{
    background-color: #8B5A8C;
    color: white;
  }

  .wireframe {
    display:flex;
    flex-direction: row;
  }

  img {
    height: 450px;
    width: 100%;
    padding: 1em;
  }