body {
    font-family: 'Raleway', 'Nunito', sans-serif;
    font-size: 1rem;
    color: #5C5173;
}

header {   
    background: #2D5F73;
    align-items: center;
    text-align: center;
    padding: 1rem;
    justify-content: space-between;
   }


.header-content {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
   }

.logo {
    float: left;
    width: 150px;
    height:auto;  
    padding: 1rem;    
}

h1 {
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 3rem;
}


.navigation {
    background: #96CCD9;
    justify-content: space-evenly;
    height: 5rem;
    font-weight: bold;
}


.switch {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #96CCD9;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #5C5173;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color:white;
    position: relative;
   
  }

  #menu::before {
    content: "☰";
  }
  
  .navigation { 
    display: flex;
    flex-direction: column;
    background: #96CCD9;
    list-style: none;
    grid-column:1/6;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    height: auto;
  }
  
  .navigation a {
    display: none;
    text-align: center;
    color:#5C5173;
    padding: 1rem;
  }

  .navigation a:hover {
    color: white;
  }

  .open a {
    display: block;
  }

  #menu.open::before{
    content:"❌";
  }

  .hero-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;   
  }

  .hero-image  {
    padding: 1rem;
    margin: 0 auto;
    grid-column: 2/3; 
  }

  .hero-image img {
    max-width: 100%;
    height: auto;
  }

  .hero-message {
    text-align: center;
    font-size: 1.75rem;
    grid-column: 2/3;
  }

  .book {
    background-color: #5C5173;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
   
    border-radius: 5px;
  }
  h3{
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }
  
  .goals-grid, .business-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
  }

  h4 {
    font-size: 1.5rem;
  }

  .goals-grid img, .business-grid img {
    max-width: 100%;
}

  .leadership-goal, .collaboration-goal, .progress-goal, .community-goal {
    display: flex;
    flex-direction: column;   
    border-radius: 5px;     
      
  }

  .current-events, .weather {
    display:flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;   
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    text-align: center;
}

.events {
    list-style-type: none;
    padding: 0.5rem;
    line-height: 3rem;
    font-size: 1.25rem;
}
  
footer {
    background: #2D5F73;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    
 }
 
 .logo_name{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   }

.social{
    padding: 1rem;
}


/* Discover Page*/

.discover {
  display: flex;
  flex-direction: column;
}

.visits {
  padding: 1rem;
}


.history, .demograph, .events-list {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid #5C5173;
    margin: 1rem;
    width: auto;
    text-align: center;
    padding: 1.5rem;
}

.information ul  {
  list-style: none;
  margin: 0 auto;
  font-size: 1.25rem;
}

.images img{
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
}

.images p {
  text-align: center;
  font-size: 0.75rem;
}


   
